
<link rel="stylesheet" type="text/css" href="css/login.css">
<div class="login">
  <!-- <div class="login-triangle"></div> -->
  
  <h2 class="login-header">Enter Valid Email</h2>

<form ng-submit="requestPasswordReset(passwordResetForm)" role="form" ng-init="passwordResetForm = {}" class="login-container" >
  <p><input type="email" name="email" ng-model="passwordResetForm.email" required="required" class="form-control"  placeholder="Email" /></p>
  	<p><button type="submit" class="btn btn-primary btn-lg">Request password reset</button></p>
  </form>
</div>

