<link rel="stylesheet" type="text/css" href="css/local.css" />
  <div id="wrapper">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">Admin Panel</a>
      </div>
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul id="active" class="nav navbar-nav side-nav">
          <li class="selected"><a href="#/sample"><i class="fa fa-bullseye"></i> Dashboard</a></li>
          <li><a href="#/sample"><i class="fa fa-users"></i> Employees</a></li>
          <li><a href="#/sample"><i class="fa fa-list"></i> Projects</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right navbar-user">
          <li class="dropdown user-dropdown">
              <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Steve Miller<b class="caret"></b></a>
              <ul class="dropdown-menu">
                  <li><a href="javascript:void(0)"><i class="fa fa-user"></i> Profile</a></li>
                  <li><a href="javascript:void(0)"><i class="fa fa-gear"></i> Settings</a></li>
                  <li class="divider"></li>
                  <li><a href="javascript:void(0)" ng-click='signOut()'><i class="fa fa-power-off"></i> Log Out</a></li>

              </ul>
          </li>
          <li class="divider-vertical"></li>
          <li>
              <form class="navbar-search">
                  <input type="text" placeholder="Search" class="form-control">
              </form>
          </li>
        </ul>
      </div>
    </nav>
  </div>